@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #4F3919 16.63%, #000000 84.53%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px
}

.cabecalho-imagem {
    height: 72px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px
}

.cabecalho-menu-item {
    font-family: "Sarala", sans-serif;
    color: #EB9E29;
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    border-top: 0.4px solid #EB9E29;
    margin-bottom: 48px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #EB9E29 ;
}

.conteudo-principal-escrito-subtitulo {
    font-family: "Sarala", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: white;
}

.conteudo-principal-escrito-botao {
    background-color: #EB9E29;
    width: 180px;
    height: 67px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-size: 16px;
    font-weight: 200;
}

.conteudo-principal-escrito-botao:hover {
    background-color: rgba(0, 0, 0, 0.25);
}


.conteudo-principal-imagem {
    height: 430px;

}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #EB9E29;
    padding-top: 25px;
    font-family: 'Righteous', cursive;
    font-size: 32px;
    font-weight: 400;
    color: #EB9E29
    ;
}

.conteudo-secundario-paragrafo {
    font-family:"Sarala", sans-serif;
    font-size: 16px;
    font-weight: 100;
    color: white;
    
}

strong {
    color: #EB9E29;
    font-weight: 100;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #EB9E29;
}

.rodape-imagem {
    height: 48px;
    display: block;
    margin: 0 auto;
}